<div class="container">
    <div class="cards">
      <% @trips.each do |trip| %>
        <%= link_to trip_path(trip), class: 'card-trip-link' do %>
          <div class="card-trip">
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= trip.image_url %>)">
            </div>
            <div class="card-trip-infos">
              <div>
                <h2><%= trip.title %></h2>
              </div>
              <h2 class="card-trip-date"><%= trip.trip_date %></h2>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
