// Specific CSS for your home-page
.navbar {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
  border-bottom: 1px solid darkgray;
}

#footer {
  background-color: #D3DDA6;
  position: absolute;
  bottom: 0;
  height: auto;
  width: 100%;
}

.bg-tripl {
  background-color: #fffdf9;
  min-height: 100vh;
  position: relative;
}
