// Specific CSS for your home-page
.navbar {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
  border-bottom: 1px solid darkgray;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#footer {
  background-color: #D3DDA6;
  height: auto;
  width: 100%;
  flex-shrink: 0;
}

.bg-tripl {
  background-color: #fffdf9;
}

.content {
  flex: 1 0 auto;
}
