<div class="container">
  <div class="form-container">
    <h2>Forgot your password?</h2>
    <p>No problem! Just enter your email address attached to your account and we'll send you instructions to get you back on in no time.</p>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Send reset instructions", class: "btn btn-tripl" %>
      </div>
    <% end %>
  </div>
</div>
