<footer class="text-center bg-body-tertiary" id="footer">
  <div class="d-flex flex-column justify-content-center">
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="https://github.com/komegi1215/Tripl"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github"></i></a>
      <div>
        <h5>Tripl Team Members</h5>
      </div>
      <p>Raecine        Megumi       Justin        Syrene</p>
  </div>
</footer>
