.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.user-tripl {
  color: #F26419;
  text-decoration: none;
}

.user-tripl:hover {
  color: #f78c34;
}

.dropdown-menu {
  border-radius: 10px;
}

.dropdown-item {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-weight: lighter;
  color: rgb(60, 60, 60)
}

.fa-bell {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
}

.user-signup {
  text-decoration: none;
  color: inherit;
  color: rgb(60, 60, 60);
  margin-right: 10px;
}
